@page "/"
<h1>Applied I</h1>
<h3>Semester 02-2023</h3>
<hr><br>
<h2>Example -System Registry</h2>
<p>For this record, tools such as the <a href="https://www.entityframeworktutorial.net/efcore/entity-framework-core.aspx">Entity Framework Core</a> for database management and <a href="https://blazor.radzen.com/">Radzen</a> for the notification system are used, in addition to using <a href="https://getbootstrap.com/">bootstrap</a> for the form style.</p>