@inherits LayoutComponentBase

<PageTitle>Registro de Sistemas</PageTitle>
<RadzenNotification></RadzenNotification>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="bg-white">
    
        <div class="top-row px-4">

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
